$color-background: #292929;
$color-background-dark: #202020;
$color-background-opacity: #ffffff11;
$color-dark: #000000;
$color-dark-gray:rgb(22, 22, 22)0;
$color-dark-opacity: rgba(0, 0, 0, 0.822);
$color-text-gray: #9e9e9e;
$color-text: #ebebeb;
$color-text-highlight: #5de6f8;
$color-theme: #f92e58;

$font-size-title: 24px;
$font-size-xxxl: 20px;
$font-size-xxl: 18px;
$font-size-xl: 16px;
$font-size-x: 14px;
$font-size-l: 13px;
$font-size-m: 12px;

$header-height: 95px;
$player-height: 80px;