$color-background: #333333;
$color-text-gray: #b6b6b6;
$color-text: #ebebeb;
$color-text-highlight: rgb(93, 230, 248);

$font-size-xxxl: 20px;
$font-size-xxl: 18px;
$font-size-xl: 16px;
$font-size-x: 14px;
$font-size-l: 12px;
$font-size-m: 10px;