@import '../../common/scss/variable.scss';

.hide-recommend-container {
  display: none;
}

.recommend-container {
  position: relative;
  width: 100%;
  list-style-type: none;

  .recommend-list {
    box-sizing: border-box;
    padding: 0 calc((100% - 900px) / 2);
    margin: 0;
    height: calc(100vh - 175px);
    overflow-y: scroll;


    li {
      position: relative;
      display: inline-block;
      width: 20%;
      height: 200px;
      color: $color-text;
      margin-bottom: 25px;

      .played-counts {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: $font-size-m;
        z-index: 1;

        span {
          display: inline-block;
          margin-left: 3px;
          color: rgb(219, 219, 219);
        }

        i {
          font-size: $font-size-l;
        }
      }

      .list-img-container {
        position: absolute;
        top: 0;
        width: 86%;
        height: 153px;
        margin: 0 7%;
        cursor: pointer;
        backface-visibility: hidden;

        .shadow {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 35px;
          background: linear-gradient(rgba(5, 5, 5, 0.37), hsla(0, 0%, 100%, 0));
        }

        .icon-play {
          display: none;
        }

        &:hover {
          // 播放 icon
          .icon-play {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            font-size: 40px;
            color: rgb(233, 233, 233);
            z-index: 2;
          }
        }
      }

      .list-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 153px;
        height: 153px;
        border-radius: 8px;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.534);
        backface-visibility: hidden;
      }

      .list-name {
        position: absolute;
        top: 165px;
        line-height: 18px;
        font-size: $font-size-l;
        width: 86%;
        margin: 0 7%;
      }
    }
  }
}